body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(55,56,56);
}

header {
    background-color: #1F2937;;
    color: white;
    text-align: center;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    padding-top: 30px;
}

#reset{
    height: 30px;
    width: 100px;
    border: 1px solid;
    font-weight: bold;
}

#button {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0px;
    padding: 0px;
    height: 400px;
    gap: 100px;
    
}

#button img {
    background: none;
    border: none;
    height: 200px;
    width: 200px;
}

#scores {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    gap: 200px;
    height: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.follow {
    width: 950px;
    height: 80px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 16px;
    border-radius: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#icon {
    display: flex;
    height: 60px;
    width: 60px;
}
/* footer */
.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}